doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Sakura Dashboard
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/alphardex/aqua.css/dist/aqua.min.css')
        link(rel='stylesheet', href='css/style.css')
    body
        main.dashboard
            nav.dashboard-sidenav
                a.logo(href='#') Sakura
                ul.nav-icon-list
                    li.nav-icon-list__item
                        a(href="#")
                            svg.icon(t="1585716314757" fill="white" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2469" width="20" height="20")
                                path(d="M372.2 347.6h329.1c15.1 0 27.4-12.3 27.4-27.4 0-15.1-12.3-27.4-27.4-27.4H372.2c-15.1 0-27.4 12.3-27.4 27.4 0 15.2 12.3 27.4 27.4 27.4zM235.1 457.3h493.6c90.9 0 164.5-73.7 164.5-164.5 0-90.9-73.7-164.5-164.5-164.5v54.8c77.4 14.6 109.7 49.1 109.7 109.7S775 402.5 696.7 402.5H235.1c-15.1 0-27.4 12.3-27.4 27.4 0 15.1 12.2 27.4 27.4 27.4z m274.3 164.6c-0.1 0-0.1 0 0 0H290c-15.1 0-27.4 12.3-27.4 27.4 0 15.1 12.3 27.4 27.4 27.4h219.4c30.3 0 54.8 24.6 54.8 54.8 0 30.3-24.6 54.8-54.8 54.8v54.8c60.6 0 109.7-49.1 109.7-109.7-0.1-60.4-49.2-109.5-109.7-109.5z m219.3-109.7H152.8c-15.1 0-27.4 12.3-27.4 27.4 0 15.1 12.3 27.4 27.4 27.4h543.9c78.3 0 141.7 49.1 141.7 109.7s-46.9 109.7-164.5 109.7v54.9h54.8c90.9 0 164.5-73.7 164.5-164.5 0-91-73.6-164.6-164.5-164.6z"
                            p-id="2470")
                    li.nav-icon-list__item
                        a(href="#")
                            svg.icon(t="1585716413875" fill="white" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5091" width="20" height="20")
                                path(d="M935.6192 68.266667 88.3808 68.266667C49.0592 68.266667 17.066667 100.8064 17.066667 140.8l0 554.666667c0 39.994667 31.991467 72.533333 71.314133 72.533333L473.6 768l0 112.424533L298.666667 880.424533c-20.795733 0-37.6544 16.858667-37.6544 37.6544S277.8688 955.733333 298.666667 955.733333l426.666667 0c20.795733 0 37.6544-16.858667 37.6544-37.6544S746.129067 880.424533 725.333333 880.424533L550.4 880.424533 550.4 768l385.2192 0C974.941867 768 1006.933333 735.461333 1006.933333 695.466667L1006.933333 140.8C1006.933333 100.8064 974.941867 68.266667 935.6192 68.266667zM930.133333 691.2 93.866667 691.2 93.866667 145.066667l836.266667 0L930.133333 691.2z"
                            p-id="5092")                
                    li.nav-icon-list__item
                        a(href="#")
                            svg.icon(t="1585716468220" fill="white" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7384" width="20" height="20")
                                path(d="M904 875.9H120c-30.9 0-56-25.1-56-56V204.1c0-30.9 25.1-56 56-56h231.6c12.8 0 25.2 4.4 35.2 12.4L509.9 260H904c30.9 0 56 25.1 56 56v503.8c0 31-25.1 56.1-56 56.1z m0-56v28-28zM351.6 204.1H120v615.8h784l0.1-503.8H510c-12.8 0-25.3-4.4-35.3-12.5l-123.1-99.5z"
                            p-id="7385")
                    li.nav-icon-list__item
                        a(href="#")
                            svg.icon(t="1585716626339" fill="white" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="11970" width="20" height="20")
                                path(d="M221.5 638.6V117.8c0-11.5-9.3-20.8-20.8-20.8s-20.8 9.3-20.8 20.8v520.8c-47.4 9.6-83 51.5-83 101.7s35.6 92 83 101.7v64.3c0 11.5 9.3 20.8 20.8 20.8s20.8-9.3 20.8-20.8V842c47.4-9.6 83-51.5 83-101.7s-35.6-92.1-83-101.7z m-20.7 163.9c-34.3 0-62.3-27.9-62.3-62.3s27.9-62.3 62.3-62.3c34.3 0 62.3 27.9 62.3 62.3s-28 62.3-62.3 62.3zM927 283.8c0-50.2-35.6-92-83-101.7v-64.3c0-11.5-9.3-20.8-20.8-20.8s-20.8 9.3-20.8 20.8v64.3c-47.4 9.6-83 51.5-83 101.7s35.6 92 83 101.7v520.8c0 11.5 9.3 20.8 20.8 20.8s20.8-9.3 20.8-20.8V385.4c47.4-9.6 83-51.5 83-101.6zM823.3 346c-34.3 0-62.3-27.9-62.3-62.3s27.9-62.3 62.3-62.3c34.3 0 62.3 27.9 62.3 62.3s-28 62.3-62.3 62.3zM532.8 410.3V117.8c0-11.5-9.3-20.8-20.8-20.8s-20.8 9.3-20.8 20.8v292.6c-47.4 9.6-83 51.5-83 101.7s35.6 92 83 101.7v292.6c0 11.5 9.3 20.8 20.8 20.8s20.8-9.3 20.8-20.8V613.7c47.4-9.6 83-51.5 83-101.7s-35.7-92-83-101.7z"
                            p-id="11971")
                    li.nav-icon-list__item
                        a(href="#")
                            svg.icon(t="1585716675382" fill="white" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="12846" width="20" height="20")
                                path(d="M507.050667 170.666667c85.546667 0 155.178667 61.696 155.178666 137.514666v92.544H351.872V308.181333C351.872 232.362667 421.546667 170.666667 507.050667 170.666667m276.309333 407.978666a21.333333 21.333333 0 0 0 21.333333-21.333333V499.157333c0-52.010667-44.245333-94.293333-99.797333-97.792V308.181333C704.896 208.810667 616.149333 128 507.050667 128 397.952 128 309.205333 208.810667 309.205333 308.181333v93.013334C252.629333 403.669333 207.36 446.464 207.36 499.157333v255.701334C207.36 809.173333 255.317333 853.333333 314.24 853.333333h383.488C756.693333 853.333333 804.693333 809.173333 804.693333 754.858667v-69.546667a21.333333 21.333333 0 0 0-42.666666 0v69.546667c0 30.805333-28.842667 55.808-64.298667 55.808H314.24C278.826667 810.666667 250.026667 785.664 250.026667 754.858667V499.157333c0-30.762667 28.8-55.765333 64.213333-55.765333h383.488c35.456 0 64.298667 25.002667 64.298667 55.765333v58.154667a21.333333 21.333333 0 0 0 21.333333 21.333333"
                            p-id="12847")
                    li.nav-icon-list__item
                        a(href="#")
                            svg.icon(t="1585716717590" fill="white" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="13969" width="20" height="20")
                                path( d="M893.842 217.557H130.159c-16.261 0-29.443 13.182-29.443 29.443v530c0 16.261 13.182 29.443 29.443 29.443h763.683c16.261 0 29.443-13.183 29.443-29.443V247c0-16.261-13.182-29.443-29.443-29.443z m-85.584 58.886L512 507.651 215.742 276.443h592.516zM159.602 747.557v-440.23l334.283 260.885A29.4 29.4 0 0 0 512 574.443a29.4 29.4 0 0 0 18.115-6.231l334.283-260.884v440.229H159.602z"
                            fill="" p-id="13970")
                    a.logout(href="#")
                        svg.icon(t="1585716806344" fill="white" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="18154" width="20" height="20")
                                path( d="M398.933333 896h-151.466666C181.333333 896 128 842.666667 128 776.533333V247.466667C128 181.333333 181.333333 128 247.466667 128h151.466666c23.466667 0 42.666667 19.2 42.666667 42.666667s-19.2 42.666667-42.666667 42.666666h-151.466666c-19.2 0-34.133333 14.933333-34.133334 34.133334v531.2c0 19.2 14.933333 34.133333 34.133334 34.133333h151.466666c23.466667 0 42.666667 19.2 42.666667 42.666667s-19.2 40.533333-42.666667 40.533333zM663.466667 744.533333c-10.666667 0-21.333333-4.266667-29.866667-12.8-17.066667-17.066667-17.066667-42.666667 0-59.733333l160-160-160-160c-17.066667-17.066667-17.066667-42.666667 0-59.733333 17.066667-17.066667 42.666667-17.066667 59.733333 0l189.866667 189.866666c17.066667 17.066667 17.066667 42.666667 0 59.733334l-189.866667 189.866666c-8.533333 8.533333-19.2 12.8-29.866666 12.8z"
                    p-id="18155")
                                path( d="M853.333333 554.666667H398.933333c-23.466667 0-42.666667-19.2-42.666666-42.666667s19.2-42.666667 42.666666-42.666667H853.333333c23.466667 0 42.666667 19.2 42.666667 42.666667s-19.2 42.666667-42.666667 42.666667z"
                    p-id="18156")
            article.dashboard-content
                header.welcome-banner
                    h2 Hello, Harris Shelby!
                    p Welcome back,Sir!
                section.section
                    div.section-titles
                        div.section-title Mar 22-28
                            div.btn-group.nav-btns
                                button.btn.btn-danger.btn-round
                                    svg.arrow-left-icon(t="1585663627827" fill="currentColor" viewBox="0 0 1024 1024"
                                version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1157"
                                data-darkreader-inline-fill="" width="20" height="20")
                                        path(d="M629.291 840.832l60.331-60.331-268.501-268.501 268.501-268.501-60.331-60.331-328.832 328.832z"
                                    p-id="1158")
                                button.btn.btn-danger.btn-round
                                    svg.arrow-left-icon(t="1585663663731" fill="currentColor" viewBox="0 0 1024 1024"
                                version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1391"
                                data-darkreader-inline-fill="" width="20" height="20")
                                        path(d="M689.621 512l-328.832-328.832-60.331 60.331 268.501 268.501-268.501 268.501 60.331 60.331z"
                                    p-id="1392") 
                        div.section-subtitle
                            button.btn.btn-secondary.btn-round.month Month
                                svg.calender-icon(t="1585661389235" fill="currentColor" viewBox="0 0 1024 1024"
                                version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6514" width="14" height="14") 
                                    path(d="M810.666667 981.333333H213.333333c-72.533333 0-128-55.466667-128-128V256c0-72.533333 55.466667-128 128-128h597.333334c72.533333 0 128 55.466667 128 128v597.333333c0 72.533333-55.466667 128-128 128zM213.333333 213.333333c-25.6 0-42.666667 17.066667-42.666666 42.666667v597.333333c0 25.6 17.066667 42.666667 42.666666 42.666667h597.333334c25.6 0 42.666667-17.066667 42.666666-42.666667V256c0-25.6-17.066667-42.666667-42.666666-42.666667H213.333333z"
                                    p-id="6515")
                                    path(d="M682.666667 298.666667c-25.6 0-42.666667-17.066667-42.666667-42.666667V85.333333c0-25.6 17.066667-42.666667 42.666667-42.666666s42.666667 17.066667 42.666666 42.666666v170.666667c0 25.6-17.066667 42.666667-42.666666 42.666667zM341.333333 298.666667c-25.6 0-42.666667-17.066667-42.666666-42.666667V85.333333c0-25.6 17.066667-42.666667 42.666666-42.666666s42.666667 17.066667 42.666667 42.666666v170.666667c0 25.6-17.066667 42.666667-42.666667 42.666667zM896 469.333333H128c-25.6 0-42.666667-17.066667-42.666667-42.666666s17.066667-42.666667 42.666667-42.666667h768c25.6 0 42.666667 17.066667 42.666667 42.666667s-17.066667 42.666667-42.666667 42.666666z"
                                    p-id="6516")