extends base

block nav 
    include _navigation 

block append head
    script(src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js')
    link(href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet')

mixin overviewBox(classs, icon, label, size)
    li(class= `overview__item ${classs}`)
        div.overview-icon 
            i(class= `${icon}`)
        div.overview-name= label
        div.overview-size= size

block view
    div.dashboard__view
        header.welcome__banner
            h1.heading-primary 
                if user
                    span.heading-primary--main= `Hi,${user.name}!`
                else
                    span.heading-primary--main Hi,Shelby boy!
                span.heading-primary--sub Welcome back, Sir!
        section.section-primary
            div.section-titlebox
                div.section-titlebox--main
                    if calendar.currWeek[0].monofYear === calendar.currWeek[6].monofYear
                        h2.heading-secondary#monOfYearRange= `${calendar.currWeek[0].monofYear} ${calendar.currWeek[0].dayofMonth}-${calendar.currWeek[6].dayofMonth}`
                    else 
                        h2.heading-secondary#monOfYearRange= `${calendar.currWeek[0].monofYear} ${calendar.currWeek[0].dayofMonth}-${calendar.currWeek[6].monofYear} ${calendar.currWeek[6].dayofMonth}`
                    div.btn-group
                        button.btn.btn-danger.btn-round#preWeek
                            i.fas.fa-chevron-left
                        button.btn.btn-danger.btn-round#nextWeek
                            i.fas.fa-chevron-right               
                div.section-titlebox--sub
                    button.btn.btn-secondary.btn-round.monthly
                        i.far.fa-calendar &nbsp; Month
            ul.section-timelinebox
                each day in calendar.currWeek
                    if day.today
                        a(href='#',id=day.newDay).section-timelinebox__item.active
                            div.day= day.dayofWeek
                            div.day-number= day.dayofMonth
                            div.day-dot
                    else 
                        case day.dayofWeek
                            when 'Wed'
                                a(href='#',id=day.newDay).section-timelinebox__item.danger
                                    div.day= day.dayofWeek
                                    div.day-number= day.dayofMonth
                                    div.day-dot
                            when 'Mon'
                                a(href='#',id=day.newDay).section-timelinebox__item.warning
                                    div.day= day.dayofWeek
                                    div.day-number= day.dayofMonth
                                    div.day-dot
                            when 'Thu'
                                a(href='#',id=day.newDay).section-timelinebox__item.warning
                                    div.day= day.dayofWeek
                                    div.day-number= day.dayofMonth
                                    div.day-dot
                            default
                                a(href='#',id=day.newDay).section-timelinebox__item.primary
                                    div.day= day.dayofWeek
                                    div.day-number= day.dayofMonth
                                    div.day-dot
        section.section-primary
            div.section-titlebox
                div.section-titlebox--main
                    h2.heading-secondary Weekly Reports
                div.section-titlebox--sub
                    div.options
                        span.options__item Today
                        span.options__item.active Week
                        span.options__item Month
            ul.overview-list
                - const pageViews = 100
                +overviewBox('warning active', 'far fa-user', 'Users', `${dailyStats.length} Pe`)
                +overviewBox('danger', 'far fa-file', 'Pageviews', `${pageViews} Co`)
                +overviewBox('primary', 'fas fa-desktop', 'Computer', '10 Co')
                +overviewBox('warning', 'fab fa-instagram', 'Mobile', '10 Co')
        section.section-primary
            div.section-titlebox
                div.section-titlebox--main
                    h2.heading-secondary Updating Monitoring
            ul.monitor-list
                li.monitor__item
                    div.monitor__item-textbox 
                        div.monitor-type System Files
                        div.monitor-date March 2020
                    div.monitor__item-gaugebox
                        a.gauge(href="#" style="--gauge-value: 25; --gauge-max-value: 100;")
                li.monitor__item.active
                    div.monitor__item-textbox 
                        div.monitor-type Applications
                        div.monitor-date March 2020
                    div.monitor__item-gaugebox
                        a.gauge(href="#" style="--gauge-value: 50; --gauge-max-value: 100;")
        section.section-primary
            div.section-titlebox
                div.section-titlebox--main
                    h2.heading-secondary Accesser lists
            ul.devices-list 
                each day in dailyStats
                    li.devices__item
                        span=day.deviceInfo[0]
                        span=day.city[0]
block space 
    div.dashboard__space
        div.section-titlebox
            div.options
                span.options__item
                    i.far.fa-bell
                span.options__item 
                    a.space__link(href="/me")
                        i.fas.fa-cog
                if user
                    span.options__item
                        img.usr-logo(src=`/img/users/${user.photo}`)
                else
                    span.options__item
                        a.space__link(href="/login")
                            i.far.fa-user
block controller
    div.dashboard__controller 
        section.section-weekly
            div.section-titlebox
                div.section-titlebox--main
                    h2.heading-secondary Locations Panel
            div#map(style='width: 400px; height: 300px;',data-locations=`${JSON.stringify(dailyStats.map((accesser) => {
                return accesser.relegation[0]
            }))}`)
            p(style="font-weight:lighter;font-size:14px") Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium modi fugiat totam id amet, tempora exercitationem mollitia illum doloribus nisi officia eaque, hic dicta quaerat consequuntur sed nam recusandae earum.lorem
        section.section-accessers
            div.section-titlebox    
                div.section-titlebox--main
                    h2.heading-secondary Statistics Panel
            div.statistics
                ul.accessers-list
                    li.accessers-list__item
                        span.User-agent Sun
                        progress.progress-bar(max="145",value="109")
                    li.accessers-list__item
                        span.User-agent Mon
                        progress.progress-bar(max="145",value="74")
                    li.accessers-list__item.active
                        span.User-agent Tue
                        progress.progress-bar(max="145",value="55")
                    li.accessers-list__item
                        span.User-agent Wed
                        progress.progress-bar(max="145",value="109")
                    li.accessers-list__item
                        span.User-agent Thu
                        progress.progress-bar(max="145",value="109")
                    li.accessers-list__item
                        span.User-agent Fir
                        progress.progress-bar(max="145",value="109")
                    li.accessers-list__item
                        span.User-agent Sat
                        progress.progress-bar(max="145",value="109")